.navigation {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-between;
  border-bottom: 4px solid #8080807f;
}

.navigation img {
  margin-top: 30px;
  margin-left: 30px;
  width: 75px;
  height: 35px;
}

.left {
  display: flex;
  
}

.links {
  margin-top: 30px;
  display: flex;
  gap:1.5vw;
  justify-content: space-around;
}

.gdsctext {
  margin-left: 15px;
  margin-top: 30px;
  color:var(---text);
  font-family: "Open Sans", sans-serif;
  font-size: 21.875px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.656px;
}

.linktext {
  color: var(---text);
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
}

.hero-image{

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
  margin-top: 5vh;
    width: 96vw;
}

.button{
  display: flex;
}
.button img{
  margin-top: -2px;
  width:40px;
  height:40px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: #f9d71c;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height:30px;
  background: #fff;
  border-radius: 90px;
  ;
}
input:checked + label {
  background: grey;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}
@media screen and (max-width:1000px) {
  .linktext {
  display:none ;
  }
    
}

