.page2-image {
    display: flex;
    justify-content: center;
}

.page2-image img{
    margin-top:10vh;
    width:65vw;
}

.page2-text{
    margin-top: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    color:var(---text);
    font-family: 'Open Sans', sans-serif; 
    font-size:x-large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page2-button{
    display: flex;
    justify-content: center;
}

.page2-button-act{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    color: white;
    background-color: #3686F7;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
}

.page2-button-act:hover{
    transform: scale(1.12);
}

a{
    text-decoration: none;
    color:white
}

.arrow{
    width:38px;
    
}
.arrowss{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


@media screen and (max-width:768px) {
    .page2-image img{
        margin-top:10vh;
        width:95vw;
    }
    .page2-text{
        margin-top: 5vh;
        margin-left: 20vw;
        margin-right: 20vw;
        text-align: center;
        color:var(---text);
        font-family: 'Open Sans', sans-serif; 
        font-size:x-large;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .page2-button{
        margin-top: 10vh;
        display: flex;
        justify-content: center;
    }
    .arrow{
        margin-top: vh;
        width:38px;
        
    }
}