.Title {
    display: flex;
    height:0vh;
    justify-content: center;
  color:var(---text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 90px */
  letter-spacing: -0.66px;
}

.question {
  display: flex;
  border: 9px solid #5f5f5f19;
  width: 50vw;
  height: 69px;

  color: var(---text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
  border-radius: 35px;
  padding: 10px 0 0 15px;
}
.question-answer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.answer {
  width: 45vw;
  padding: 20px;
  margin-top: 20px;
  border: 9px solid #5f5f5f19;
  border-left: 10px solid #db4437;
  border-radius: 10px;

  color: var(---text);
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px 5px 20px;  
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.275px;
}


.footer {
    margin-top: 20vh;;
    height: 60vh;;
    bottom: 0;
    border-top-right-radius: 118px;
    border-top-left-radius: 118px;
    background: linear-gradient(270deg, #4285F4 -7.42%, rgba(61, 120, 218, 0.50) 53.4%, rgba(23, 18, 76, 0.00) 116.26%);
}

.footer-main{
  display: flex;

}

.box1{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    align-items: center;
    text-align: center;


    color: #FFF;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-style: large;
font-weight: 500;
line-height: normal;

}

.box1 img{
    width:80px;
}

.box2{
  margin-top: 10vh;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  width:50vw;
}


.box2 img{
  width:30px;
  height:30px
}

.email , .college{
  gap:20px;
  color: #FFF;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  display: flex;
}

.rule{
  margin-top: 20px;;
  width:80vw;
}

.last{
  display: flex;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.box3{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.box3 img{
  width:40px
}

.box3-image{
  display: flex;
}



@media screen and (max-width:768px){  

.Title {
   display:none;
}

.question {
  display: flex;
  border: 9px solid #5f5f5f19;
  width: 80vw;
  height: 69px;

  color: var(---text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
  border-radius: 35px;
  padding: 10px 0 0 15px;
}
.question-answer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.answer {
  width: 80vw;
  padding: 20px;
  border: 9px solid #5f5f5f19;
  border-left: 10px solid #db4437;
  border-radius: 10px;

  color: var(---text);
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 5px 5px 20px;  
  font-size: x-large;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -0.275px;
}

.email , .college{
 display: none;
}
.box3{
  margin-right:20vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.box3-image{
  display: flex;
}
}


@media screen and (min-width:768px)and (max-width:1100px){  
  .box3{
    margin-right:20vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}