.circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.circle img {
  margin-top: 30vh;
}

.element {
  z-index: 1;
  display: flex;
  flex-direction: column;

  font-family: "Open Sans", sans-serif;
  color:var(---text);
  text-align: center;

  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.overwrite {
  z-index: 5;
  position: relative;
  top: -200px;
  /* left: 10px;     */

  color: #5f5f5f;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.img {
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .circle {
    margin-top: -25vh;
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-around;
    align-items: center;
  }

  .element{
    display: flex;
    align-items: center;
    height:15vh;
  }

  .element img{
    width:100px
  }

  .overwrite {
    
    z-index: 5;
    position: relative;
    top: -120px;   
  
    color: #5f5f5f;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
  }
}
