.hr {
  position: relative;
  display: flex;
  justify-content: center;
  top: 10vh;
}

.hr img {
  width: 85%;
}

.page10-head {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: -0.022em;
  text-align: center;
  color: var(---text);
  font-family: "Open Sans", sans-serif;
}

.page10-subhead {
  display: flex;
  justify-content: center;
  color: var(---text);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 48px */
  letter-spacing: -0.352px;
}

.box {
  display: flex;
  border: 10px solid rgba(128, 128, 128, 0.338);
  width: 28vw;
  height: 50vh;
  border-radius: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(---text);
  font-family: "Open Sans", sans-serif;
  font-size: 47.791px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
}
.box img {
  width: 200px;
}
.tech {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width:768px){
.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.box {
    display: flex;
    border: 10px solid rgba(128, 128, 128, 0.338);
    width: 60vw;
    height: 30vh;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(---text);
    font-family: "Open Sans", sans-serif;
    font-size:xx-large;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
}
.box img {
    width: 150px;
  }
  .page10-head {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    line-height: 105px;
    letter-spacing: -0.022em;
    text-align: center;
    color: var(---text);
    font-family: "Open Sans", sans-serif;
  }
  .hr {
    position: relative;
    display: flex;
    justify-content: center;
    top: 8vh;
  }
  .hr img {
    width: 140%;
  }
  .page10-subhead {
    display: flex;
    justify-content: center;
    color: var(---text);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 48px */
    letter-spacing: -0.352px;
  }
}