@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Open+Sans:wght@300;400;500&display=swap");
.display {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrool {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 10px;
  right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  animation: scrl 5s linear infinite;
}

.scrool img {
  margin-top: 8px;
  width: 40px;
  height: 40px;
}

.dark-theme {
  background-color: #282c34;
  ---text : #ffffff;
}

.light-theme {
  background-color: white;
  ---text : #868686;
}

@media screen and (max-width: 768px) {
  .display {
    height: 140vh;
    width: 100%;
    scroll-behavior: normal;
    scroll-snap-type: normal ;
    overflow-y: normal;
  }
}

@keyframes scrl {
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(60px);
  }
}